* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Open Sans;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
  place-content: center;
}
